$body-background: #142225;
$red-background: #071214;
$red-background-border: #212E2E;
$main-text-color: #E7001C;
$main-subtext-color: rgba(231, 0, 28, 0.5);
$main-subtext-color-01: #E7001CCC;
$main-link-color: #E7001C;
$main-link-hover-color: rgba(231, 0, 28, 0.5);
$divider-color: #0E1313;
$prizes-background-color: #071214;
$footer-background-color: #071214;
$footer-divider-color: rgba(137, 137, 137, 0.3);
$start-date-background: #2B050C;
$partners_label_color: #377D79;
$text-shadow-primary-text: #FF000080 0px 0px 10px;
$text-shadow-secondary-text: #FF0000B2 0px 0px 3px;
