
@font-face {
    font-family: 'DotGothic16';
    src: url('~@/assets/fonts/DotGothic16-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'VT323';
    src: url('~@/assets/fonts/VT323-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'W95';
    src: url('~@/assets/fonts/w95font.woff2') format('woff');
}
@font-face {
    font-family: 'W95FA';
    src: url('~@/assets/fonts/w95fa.woff2') format('woff');
}

@font-face {
    font-family: 'ClassicConsoleNeue';
    src: url('~@/assets/fonts/clacon2.woff2') format('woff');
}
